:root {
  --purple: #5833C3;
  --darkGrey: #5B5B5B;
  --lightGrey: #A8A8A8;
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContainer {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-areas: 
        "head home home"
        "side1 main side2";
}

.homeHeader {
    grid-area: home;
    color: #5833C3;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex: 1 1 auto;
}

#name {
    grid-area: head;
    text-align: left;
    background-color: #F9F6FF;
    color: #5833C3;
    padding-left: 31px;
}

.profileName {
  color: var(--darkGrey);
}

.profileHandle {
  color: var(--lightGrey);
}

.navIcons {
  display: flex;
  flex-direction: row;
  line-height: 50px;
  /* margin-left: 21px; */
}

.navIcons div a {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 65px;
  text-decoration: none;
  color: var(--lightGrey);
  font-size: 16px;
  padding-left: 60px;
  align-items: center;
}

.navIcons div a:hover {
  color: var(--purple);
}

.svg {
  stroke: var(--purple);
}

.icons {
  margin-right: 20px;
}

.icons img {
  padding-top: 12px;
}

#sidebar-1 {
    grid-area: side1;
    background-color: #F9F6FF;
    height: calc(100% - 90.88px);
    width: 300px;
    position: absolute; /*Need to figure out the sticky situation*/
    margin-top: 90.88px;
}

#sidebar-1 nav ul {
  list-style: none;
  padding: 0;
}

#sidebar-1 nav ul li:hover {
  background-color: #EEE8FF;
}

#content {
    grid-area: main;
    height: 100%;
}

#sidebar-2 {
    grid-area: side2;
    height: 100%;
}

.out {
    width: 100%;
    display: block;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 750px;
    height: 220px;
    background: white;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-right: 50px;
}

.item {
    display: inline-block;
    max-width: 100%;
    margin: 0 10px;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 10px #dfdfdf;
}

/* loader */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #5833C3;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  