html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px 20px;
    grid-template-areas: 
        "head home search"
        "side1 main side2";
}

.homeHeader {
    grid-area: home;
}

.searchbar {
    grid-area: search;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex: 1 1 auto;
}

#name {
    grid-area: head;
    text-align: left;
}

#sidebar-1 {
    grid-area: side1;
}

#content {
    grid-area: main;
}

#sidebar-2 {
    grid-area: side2;
}

.out {
    width: 100%;
    display: block;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 750px;
    height: 220px;
    background: white;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.item {
    display: inline-block;
    max-width: 100%;
    margin: 0 10px;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 10px #dfdfdf;
}
